.signInScreen {
  max-width: 300px;
  padding: 70px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.85);
}

.signInScreen > form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.signInScreen > form > h1 {
  margin-bottom: 20px;
}

.signInScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
}

.signInScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.signInScreen__gray {
  color: gray;
}

.signInScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signInScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}
